body {
    background-color: rgb(34, 34, 34);
    color: rgb(239, 239, 239);
  }
  
  h1 {
    text-align: center;
    margin: 4rem auto 1rem auto;
  }
  
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
  }
  
  .container {
    margin: 40px;
    padding: 20px;
    background-color: #5e5e5e;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 15px;
    text-align: center;
  }

p.subtitle {
    font-weight: bold;
    font-size: 18px;
}

div p {
    margin-bottom: 1rem;
} 

.container-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.container-imgs img {
    width: 100px;
    height: 100px;
 }

 .imagen-container {
    width: 100px;
    height: 100px;
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    margin: 10px 40px;
    transition: transform 0.5s ease-in-out;
}

.img1 {
    background-image: url("/imgs/html.png"); /* Imagen por defecto */
}

#imagen1:hover {
  background-image: url("/imgs/html-color.png"); /* Imagen al pasar el mouse */
  filter: sepia(0.5);
  transform: scale(1.2);
}

.img2 {
    background-image: url("/imgs/css-3.png"); /* Imagen por defecto */
}
#imagen2:hover {
  background-image: url("/imgs/css-3-color.png"); /* Imagen al pasar el mouse */
  filter: sepia(0.5);
  transform: scale(1.2);
}

.img3 {
    background-image: url("/imgs/javascript.png"); /* Imagen por defecto */
}   
#imagen3:hover {
  background-image: url("/imgs/javascript-1.svg"); /* Imagen al pasar el mouse */
  filter: sepia(0.5);
  transform: scale(1.2);
}

/*
.container-imgs img {
    width: 150px;
    height: 150px;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.container-imgs img:hover {
    filter: sepia(0.5);
    transform: scale(1.5);
}

*/
